.green {
  color: green;
  border: 2px solid green;
}

.red {
  color: red;
  border: 2px solid red;
}

input {
  padding: 8px;
  margin-bottom: 8px;
  display: block;
}

.note {
  font-size: 0.8em;
  color: gray;
}
